@import url('https://fonts.googleapis.com/css?family=Lato');

body {
background-color: #f2f2f2;
margin: 0;
font-family: 'Lato', sans-serif;

}



.header {
  height:90px;
  background-color:#2d2f3b;
  color: white;
  border-bottom: 6px solid #4b4e61;

}

.nav {
max-width:960px;
margin-left: auto;
margin-right: auto;

}

.logo {
  float: left;
  font-size: 1.4rem;
  margin-top: 35px;
}

.links {
  float: right;
  font-size: 0.75rem;
  color: #484e61;
  margin-top: 42px;
}

.links a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.salmon {
  color: #f16c65;
}

.banner {
  background-color: #f06c64;
  padding: 20px 0;
  text-align: center;
  border-bottom: 6px solid #ea676b;
}

.banner img {
  max-width: 790px;
  width: 90%;
}

.services {
  height: 500px;
  max-width: 960px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 6px solid white;


  }

.bannerTitle {

  font-size: 2rem;
  padding-top: 60px;
  color: #666d89;
  font-weight: bold;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.bannerTitle p {
  font-weight: normal;
  font-size: 1.1rem;

}

.services img {
  max-width: 960px;
  width: 100%;
}

.blue{
  background-color: #2d303a;
}

.portfolio {
  height: 870px;
  border-bottom: 6px solid #4b4e61;

}

.portfolio img {
  float: left;
  margin-left: 14.4%;
  padding: 10px 0;

}

.about {
  height: 740px;
  max-width: 960px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 6px solid white;
}

.adam {
  color: #666d89;
  max-width: 300px;
  font-size: .7rem;
  float: left;
  padding-right: 20px
}

.adam img {
  padding-top: 30px;

}

.des {
  color: #666d89;
  max-width: 300px;
  font-size: .7rem;
  float: left;
  padding-right:20px
}

.des img{
  padding-top: 30px;
}

.chic {
  color: #666d89;
  max-width: 300px;
  font-size: .7rem;
  float: left;
}

.chic img {
  padding-top: 30px;
}

.pink {
 background-color: #f06c64;
 height:655px;
}

.quote {
  font-size: 2rem;
  padding-top: 60px;
  color: white;
  font-weight: bold;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.quote p {
  font-size: 1.1rem;
  font-weight: normal;

}



@media screen and (max-width: 525px) {

  .logo {
    text-align: center;
    float: none;
    margin-top: 0px;
    padding-top: 15px;
  }

  .links {
    float: none;
    text-align: center;
    margin-top: 16px;
  }
